<form class="admin">
  <h1>New animal form</h1>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name}}
  </div>

  <div class="form-group">
    <label for="species">Species</label>
    {{#x-select value=species}}
      {{#x-option value="dog"}}Dog{{/x-option}}
      {{#x-option value="cat"}}Cat{{/x-option}}
      {{#x-option value="rodent"}}Rodent{{/x-option}}
      {{#x-option value="bird"}}Bird{{/x-option}}
      {{#x-option value="monkey"}}Monkey{{/x-option}}
      {{#x-option value="snake"}}Snake{{/x-option}}
      {{#x-option value="ferret"}}Ferret{{/x-option}}
      {{#x-option value="hedgehog"}}Hedgehog{{/x-option}}
    {{/x-select}}
  </div>

  <div class="form-group">
    <label for="breed">Breed</label>
    {{input value=breed}}
  </div>

  <div class="form-group">
    <label for="gender">Gender</label>
    {{#x-select value=gender}}
      {{#x-option value="male"}}Male{{/x-option}}
      {{#x-option value="female"}}Female{{/x-option}}
    {{/x-select}}
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    {{input type="number" value=age}}
  </div>

  <div class="form-group">
    <label for="size">Size</label>
    {{#x-select value=size}}
      {{#x-option value="small"}}Small{{/x-option}}
      {{#x-option value="medium"}}Medium{{/x-option}}
      {{#x-option value="large"}}Large{{/x-option}}
    {{/x-select}}
  </div>

  <div class="form-group">
    <label for="health">Health</label>
    {{input value=health}}
  </div>

  <div class="form-group">
    <label for="temperment">Temperment</label>
    {{input value=temperment}}
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    {{input type="number" value=price}}
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    {{input value=image}}
  </div>

  <button {{action 'saveAnimal'}}>Add Animal</button>
</form>
