<div class="crate1">
  <h2>{{animal.name}}</h2>
  <p>Age: {{animal.age}}</p>
  <p>Breed: {{animal.breed}}</p>
  <img class="img-responsive" src="{{animal.image}}" alt="{{animal.breed}}, {{animal.species}}" />
  <button class="btn btn-danger" {{action 'removeAnimalFromCart' animal}}>X</button>
</div>
